
<!DOCTYPE html>
<html>
<head>
    <title>Error <%= statusCode %></title>
</head>
<body>
    <h1>Error <%= statusCode %></h1>
    <p><%= message %></p>
    <a href="/listings">Back to Home</a>
</body>
</html>
